::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: transparent;
}
* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 300;
}
html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
p {
  padding: 0;
  margin: 0;
  line-height: 1;
}